<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
</head>

<body>
	<aside th:fragment="layout-sidebar"
		th:class="${session.user == null or session.user.authority == 2} ? ${'search'} : ${'admin_menu'}">
		<!--/* 検索メニュー(非会員、一般会員用) */-->
		<div class="search_area" th:if="${session.user == null or session.user.authority == 2}">
			<h2 th:class="title" th:text="#{category.select.title}"></h2>
			<div class="form">
				<!-- 商品一覧画面以外で表示 -->
				<form th:action="@{/client/item/list/test}" method="get">
					<!-- カテゴリーは使わないなら削除またはコメントアウト -->
					<select name="categoryId">
						<option th:value="#{constants.category.select.none.no}">選択なし</option>
						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
						</option>
					</select>
					<p>除外するアレルギー:</p>
					<div th:each="allergy : ${allergyList}">
						<label>
							<input type="checkbox" name="allergyIds" th:value="${allergy.id}"
								th:checked="${selectedAllergies != null and #lists.contains(selectedAllergies, allergy.id)}" />
							<span th:text="${allergy.name}">アレルギー名</span>
						</label>
					</div>
					<input type="submit" value="検索" />
				</form>

				<!-- 商品一覧画面上で表示 -->
				<!--				<form th:unless="${sortType == null}" th:action="@{/client/item/list/test} + ${sortType}" method="get">-->
				<!--					<select name="categoryId">-->
				<!--						<option th:value="#{constants.category.select.none.no}"-->
				<!--							th:text="#{constants.category.select.none}"></option>-->
				<!--						<option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"-->
				<!--							th:selected="${category.id} == ${categoryId}"></option>-->
				<!--					</select> <input type="submit" th:value="#{select}" />-->
				<!--					 共通アレルギー表示ブロック -->
				<!--					<div>-->
				<!--						<p>除外するアレルギー:</p>-->
				<!--						<div th:each="allergy : ${allergyList}">-->
				<!--							<label>-->
				<!--								<input type="checkbox" name="allergyIds" th:value="${allergy.id}" th:checked="${selectedAllergies != null and #lists.contains(selectedAllergies,-->
				<!--								allergy.id)}" />-->
				<!--								<span th:text="${allergy.id}+${allergy.id}"></span>-->
				<!--								<p th:text="${allergy.name}"></p>-->
				<!--							</label>-->
				<!--						</div>-->
				<!--					</div>-->
				<!--					 検索ボタン -->
				<!--					<input type="submit" value="#{select}" ></form>-->
				</form>
			</div>
		</div>

		<!--/* メニュー(運用管理者、及びシステム管理者用) */-->
		<div th:if="${session.user != null and session.user.authority != 2}">

			<h2 th:class="title" th:text="#{admin.menu}"></h2>
			<ul class="menu">
				<li>
					<a th:href="@{/admin/user/list}" th:class="display_list" th:text="#{admin.menu.user.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/order/list}" th:class="display_list" th:text="#{admin.menu.order.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/item/list}" th:class="display_list" th:text="#{admin.menu.item.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/category/list}" th:class="display_list"
						th:text="#{admin.menu.category.list}"></a>
				</li>
			</ul>
		</div>
	</aside>
</body>

</html>